### !pip install pymongo

In [2]:
import pymongo as pm

In [8]:
HOST_NAME = "localhost"
PORT = 27017
DATABASE_NAME = 'testdb'

#### Establish a connection with MongoDb

In [3]:
db_connect = pm.MongoClient(HOST_NAME, PORT)

#### Create a db

In [4]:
created_database = db_connect[DATABASE_NAME]

#### List databases

In [6]:
for database_ in db_connect.list_databases():
    print(database_)

{'name': 'admin', 'sizeOnDisk': 40960.0, 'empty': False}
{'name': 'config', 'sizeOnDisk': 12288.0, 'empty': False}
{'name': 'local', 'sizeOnDisk': 40960.0, 'empty': False}

#### Create a collection

In [8]:
collection_ = created_database['customers']

In [9]:
collection_

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'testdb'), 'customers')

In [11]:
collection_list = created_database.list_collection_names(include_system_collections=False)
for collect in collection_list:
    print (collect)

#### Insert 1 document into the collection

In [12]:
first_document = {'id':1, 'name':'John'}

In [13]:
inserted_document = collection_.insert_one(first_document)

#### Get the interested id of the value inserted

In [14]:
inserted_document.inserted_id

ObjectId('5f8780d26d2d32f8fdeeacce')

#### Insert multiple document into the collection

In [15]:
second_document = [{'id':2, 'name':'Harry'},
                   {'id':3, 'name':'Nancy'},
                   {'id':4, 'name':'Steve'},
                   {'id':5, 'name':'Ram'}]

In [16]:
inserted_document = collection_.insert_many(second_document)

#### Get the interested id's of the values inserted

In [17]:
# inserted_document.inserted_id
# Gives 'InsertManyResult' object has no attribute 'inserted_id'

In [18]:
inserted_document.inserted_ids

[ObjectId('5f8780d96d2d32f8fdeeaccf'),
 ObjectId('5f8780d96d2d32f8fdeeacd0'),
 ObjectId('5f8780d96d2d32f8fdeeacd1'),
 ObjectId('5f8780d96d2d32f8fdeeacd2')]

#### Find the documents

In [19]:
collection_.find_one()

{'_id': ObjectId('5f8780d26d2d32f8fdeeacce'), 'id': 1, 'name': 'John'}

In [20]:
for document in collection_.find():
    print(document)

{'_id': ObjectId('5f8780d26d2d32f8fdeeacce'), 'id': 1, 'name': 'John'}
{'_id': ObjectId('5f8780d96d2d32f8fdeeaccf'), 'id': 2, 'name': 'Harry'}
{'_id': ObjectId('5f8780d96d2d32f8fdeeacd0'), 'id': 3, 'name': 'Nancy'}
{'_id': ObjectId('5f8780d96d2d32f8fdeeacd1'), 'id': 4, 'name': 'Steve'}
{'_id': ObjectId('5f8780d96d2d32f8fdeeacd2'), 'id': 5, 'name': 'Ram'}

In [21]:
FILTER = {'id':3}
for document in collection_.find(FILTER):
    print(document)

{'_id': ObjectId('5f8780d96d2d32f8fdeeacd0'), 'id': 3, 'name': 'Nancy'}

In [22]:
FILTER = {'id': {'$gt':1}}
for document in collection_.find(FILTER):
    print(document)

{'_id': ObjectId('5f8780d96d2d32f8fdeeaccf'), 'id': 2, 'name': 'Harry'}
{'_id': ObjectId('5f8780d96d2d32f8fdeeacd0'), 'id': 3, 'name': 'Nancy'}
{'_id': ObjectId('5f8780d96d2d32f8fdeeacd1'), 'id': 4, 'name': 'Steve'}
{'_id': ObjectId('5f8780d96d2d32f8fdeeacd2'), 'id': 5, 'name': 'Ram'}

#### Delete a document

In [23]:
FILTER = {'id': 5}
collection_.delete_one(FILTER)

In [24]:
for document in collection_.find():
    print(document)

{'_id': ObjectId('5f8780d26d2d32f8fdeeacce'), 'id': 1, 'name': 'John'}
{'_id': ObjectId('5f8780d96d2d32f8fdeeaccf'), 'id': 2, 'name': 'Harry'}
{'_id': ObjectId('5f8780d96d2d32f8fdeeacd0'), 'id': 3, 'name': 'Nancy'}
{'_id': ObjectId('5f8780d96d2d32f8fdeeacd1'), 'id': 4, 'name': 'Steve'}

In [25]:
FILTER = {'id': {'$gt':2}}
collection_.delete_many(FILTER)

In [26]:
for document in collection_.find():
    print(document)

{'_id': ObjectId('5f8780d26d2d32f8fdeeacce'), 'id': 1, 'name': 'John'}
{'_id': ObjectId('5f8780d96d2d32f8fdeeaccf'), 'id': 2, 'name': 'Harry'}

#### To delete all the documents in a collection, we can pass an empty json object

In [27]:
collection_.delete_many({})

In [28]:
for document in collection_.find():
    print(document)

####  Drop a collection

In [29]:
collection_.drop()

In [30]:
collection_list = created_database.list_collection_names(include_system_collections=False)
for collect in collection_list:
    print (collect)

#### Update

In [46]:
collection_ = created_database['employees']

In [50]:
collection_

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'testdb1'), 'employees')

In [52]:
collection_.find_one()

In [54]:
documents_ = [{'id':1, 'name':'Sunny'},
              {'id':2, 'name':'Harry'},
              {'id':3, 'name':'Nancy'},
              {'id':4, 'name':'Steve'},
              {'id':5, 'name':'Ram'}]

In [55]:
inserted_documents = collection_.insert_many(documents_)

In [56]:
for document in collection_.find():
    print(document)

{'_id': ObjectId('5f87833a6d2d32f8fdeeacd5'), 'id': 1, 'name': 'Sunny'}
{'_id': ObjectId('5f87833a6d2d32f8fdeeacd6'), 'id': 2, 'name': 'Harry'}
{'_id': ObjectId('5f87833a6d2d32f8fdeeacd7'), 'id': 3, 'name': 'Nancy'}
{'_id': ObjectId('5f87833a6d2d32f8fdeeacd8'), 'id': 4, 'name': 'Steve'}
{'_id': ObjectId('5f87833a6d2d32f8fdeeacd9'), 'id': 5, 'name': 'Ram'}

In [67]:
#with id it doesn't work
collection_.update_one({'id':'2'}, {'$set': {'name':'Duncan' }})

In [62]:
collection_.update_one({'name':'Harry'}, {'$set': {'name':'Peter' }})

In [66]:
for document in collection_.find():
    print(document)

{'_id': ObjectId('5f87833a6d2d32f8fdeeacd5'), 'id': 1, 'name': 'Sunny'}
{'_id': ObjectId('5f87833a6d2d32f8fdeeacd6'), 'id': 2, 'name': 'Peter'}
{'_id': ObjectId('5f87833a6d2d32f8fdeeacd7'), 'id': 3, 'name': 'Nancy'}
{'_id': ObjectId('5f87833a6d2d32f8fdeeacd8'), 'id': 4, 'name': 'Steve'}
{'_id': ObjectId('5f87833a6d2d32f8fdeeacd9'), 'id': 5, 'name': 'Ram'}

#### Connect to Mongo Atlas
!pip install dnspython

In [21]:
DATABASE_NAME='testdb'

In [11]:
db_connect_atlas = pm.MongoClient('mongodb+srv://sunny:12345@cluster0.4dsb0.mongodb.net', PORT)

In [12]:
created_database_atlas = db_connect_atlas[DATABASE_NAME]

In [13]:
created_database_atlas

Database(MongoClient(host=['cluster0-shard-00-00.4dsb0.mongodb.net:27017', 'cluster0-shard-00-02.4dsb0.mongodb.net:27017', 'cluster0-shard-00-01.4dsb0.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-hii4aw-shard-0', ssl=True), 'testdb')

In [14]:
for collection in created_database_atlas.list_collections():
    print(collection)

In [15]:
created_collection = created_database_atlas['employees']

In [16]:
created_collection

Collection(Database(MongoClient(host=['cluster0-shard-00-00.4dsb0.mongodb.net:27017', 'cluster0-shard-00-02.4dsb0.mongodb.net:27017', 'cluster0-shard-00-01.4dsb0.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-hii4aw-shard-0', ssl=True), 'testdb'), 'employees')

In [17]:
for collection in created_database_atlas.list_collections():
    print(collection)

In [18]:
first_document = {'id':1, 'name':'John'}
inserted_document = created_collection.insert_one(first_document)

In [19]:
inserted_document

In [20]:
for document in created_collection.find():
    print(document)

{'_id': ObjectId('5f888519082487a394085ec3'), 'id': 1, 'name': 'John'}